{% extends app.request.isAjax() ? 'ajaxbase.html.twig' : 'base.html.twig' %}

{% block content %}

<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Logowanie do konta</h4>
        </header>
        <div class="body">
            <form class="no-margin" action="/main/login" method="post" id="loginForm">
                <fieldset>
                    <div class="form-group {{ form.renderErrors('email',true) }}">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input id="email" type="email" name="email" class="form-control input-lg input-transparent" value="{{ form.getValue('email') }}" placeholder="Twój email">
                        </div>
                        {{ form.renderErrors('email')|raw }}
                    </div>
                    <div class="form-group {{ form.renderErrors('password',true) }}">
                        <label for="password">Hasło</label>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input id="password" type="password" name="password" class="form-control input-lg input-transparent" value="" placeholder="Twoje hasło">
                        </div>
                        {{ form.renderErrors('password')|raw }}
                    </div>
                    <div class="form-group">                                             
                        <div class="squaredOne">
                            <input type="checkbox" value="1" id="remember_me" name="remember_me" />
                            <label for="remember_me"></label>
                        </div>
                        <label>Pamiętaj mnie</label>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Zaloguj</small>
                    </button>
                    <a class="forgot" href="#">Przypominanie hasła</a>
                </div>
            </form>
        </div>
        <footer>
            <div class="facebook-login">
                <a href="/main/register"><span><i class="fa fa-edit fa-lg"></i> Zarejestruj</span></a>
            </div>
        </footer>
    </section>
</div>
{% endblock %}
