<div class="wrap">    
{% for label, flashes in app.session.getFlashBag() %}
            {% for flash in flashes %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                <div class="alert alert-{{ label }}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {% if label == "warning" %}
                    <i class="fa fa-bell-o"></i>
                                    {% elseif label == "danger" %}
                    <i class="fa fa-ban"></i>
                                    {% elseif label == "info" %}
                    <i class="fa fa-info-circle"></i>
                                    {% else %}
                    <i class="fa fa-check"></i>        
                                    {% endif %}
                                    {{ flash|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
        {% endfor %}
</div>