{% extends app.request.isAjax() ? 'ajaxbase.html.twig' : 'base.html.twig' %}

{% block content %}
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Rejestracja</h4>
        </header>
        <div class="body">
            <form class="no-margin" action="/main/register" method="post">
                <fieldset>
                    <div class="form-group {{ form.renderErrors('email',true) }}">
                        <label for="email">Podaj email</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input id="email" type="email" name="email" class="form-control input-lg input-transparent" placeholder="Twój email" value="{{ form.getValue('email') }}">
                        </div>
                                    {{ form.renderErrors('email')|raw }}
                    </div>
                    <div class="form-group {{ form.renderErrors('password',true) }}">
                        <label for="password">Podaj hasło</label>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input id="password" type="password" name="password" class="form-control input-lg input-transparent" value="" placeholder="Twoje hasło">
                        </div>
                                    {{ form.renderErrors('password')|raw }}
                    </div>
                    <div class="form-group {{ form.renderErrors('repassword',true) }}">
                        <label for="repassword">Powtórz hasło</label>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input id="repassword" type="password" name="repassword" class="form-control input-lg input-transparent" value="" placeholder="Powtórz hasło">
                        </div>
                                    {{ form.renderErrors('repassword')|raw }}
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Zarejestruj</small>
                    </button>
                    <a class="forgot" href="#">Polityka prywatności</a>
                </div>
            </form>
        </div>
        <footer>
            <div class="facebook-login">
                <a href="/main/login"><span><i class="fa fa-sign-in fa-lg"></i> Zaloguj</span></a>
            </div>
        </footer>
    </section>
</div>
{% endblock %}
