{% extends app.request.isAjax() ? 'ajaxbase.html.twig' : 'base.html.twig' %}

{% block content %}
    <div class="logo">
            <h4><a href="#">Dev<strong>::Seqe</strong></a></h4>
        </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse">
            <ul id="side-nav" class="side-nav">
                <li class="active">
                    <a href="#"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-pencil"></i> <span class="name">Forms</span></a>
                    <ul id="forms-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Account</a></li>
                        <li class=""><a href="#">Article</a></li>
                        <li class=""><a href="#">Elements</a></li>
                        <li class=""><a href="#">Validation</a></li>
                        <li class=""><a href="#">Wizard</a></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-area-chart"></i> <span class="name">Statistics</span></a>
                    <ul id="stats-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Stats</a></li>
                        <li class=""><a href="#">Charts</a></li>
                        <li class=""><a href="#">Realtime</a></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-magic"></i> <span class="name">User Interface</span></a>
                    <ul id="ui-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Buttons</a></li>
                        <li class=""><a href="#">Dialogs</a></li>
                        <li class=""><a href="#">Notifications</a></li>
                        <li class=""><a href="#">Icons</a></li>
                        <li class=""><a href="#">Tabs</a></li>
                        <li class=""><a href="#">Accordion</a></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-tree"></i> <span class="name">Components</span></a>
                    <ul id="components-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Calendar</a></li>
                        <li class=""><a href="#" data-no-pjax="">Maps</a></li>
                        <li class=""><a href="#">Gallery</a></li>
                        <li class=""><a href="#" data-no-pjax="">Fileupload</a></li>
                        <li class=""><a href="#">Bootstrap</a></li>
                        <li class=""><a href="#">List Groups</a></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-cog"></i> <span class="name">Tables</span></a>
                    <ul id="tables-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Static <sup class="text-danger fw-bold">upd</sup></a></li>
                        <li class=""><a href="#">Dynamic</a></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-th"></i> <span class="name">Widgets</span></a>
                    <ul id="grid-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Basic</a></li>
                        <li class=""><a href="#">Live</a></li>
                    </ul>
                </li>
                <li class="panel ">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-leaf"></i> <span class="name">Special</span></a>
                    <ul id="special-collapse" class="panel-collapse collapse ">
                        <li class=""><a href="#">Search <sup class="text-warning fw-bold">new</sup></a></li>
                        <li class=""><a href="#">Invoice</a></li>
                        <li class=""><a href="#">Inbox &nbsp; <span class="label label-important">3</span></a></li>
                        <li><a target="_blank" href="#">Login</a></li>
                        <li><a target="_blank" href="#">Error Page</a></li>
                        <li><a href="#" data-no-pjax="">Landing</a></li>
                        <li><a href="#" data-no-pjax="">White <sup class="text-warning fw-bold">new</sup></a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#"><i class="fa fa-folder-open"></i> <span class="name">Menu Levels</span></a>
                    <ul id="menu-levels-collapse" class="panel-collapse collapse">
                        <li><a href="#">Item 1.1</a></li>
                        <li><a href="#">Item 1.2</a></li>
                        <li class="panel">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#menu-levels-collapse" href="#">Item 1.3</a>
                            <ul id="sub-menu-1-collapse" class="panel-collapse collapse">
                                <li class="panel">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#sub-menu-1-collapse" href="#">Item 2.1</a>
                                    <ul id="sub-menu-3-collapse" class="panel-collapse collapse">
                                        <li><a href="#">Item 3.1</a></li>
                                        <li><a href="#">Item 3.2</a></li>
                                        <li><a href="#">Item 3.3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item 2.2</a></li>
                                <li class="panel">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#sub-menu-1-collapse" href="#">Item 2.3</a>
                                    <ul id="sub-menu-2-collapse" class="panel-collapse collapse">
                                        <li><a href="#">Item 3.4</a></li>
                                        <li><a href="#">Item 3.5</a></li>
                                        <li><a href="#">Item 3.6</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="visible-xs">
                    <a href="/main/logout"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
                </li>
            </ul>

            <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>
            <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
            <ul class="sidebar-labels">
                <li>
                    <a href="#">
                        <!-- yep, .circle again -->
                        <i class="fa fa-circle text-warning"></i>
                        <span class="label-name">My Recent</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle text-gray"></i>
                        <span class="label-name">Starred</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle text-danger"></i>
                        <span class="label-name">Background</span>
                    </a>
                </li>
            </ul>

            <h5 class="sidebar-nav-title">Projects</h5>
            <!-- A place for sidebar notifications & alerts -->
            <div class="sidebar-alerts">
                <div class="alert fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                    <span class="text-white fw-semi-bold">Sales Report</span> <br>
                    <div class="progress progress-xs mt-xs mb-0">
                        <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
                    </div>
                    <small>Calculating x-axis bias... 65%</small>
                </div>
                <div class="alert fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                    <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
                    <div class="progress progress-xs mt-xs mb-0">
                        <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
                    </div>
                    <small>Provide required notes</small>
                </div>
            </div>
        </nav>    <div class="wrap">
            <header class="page-header">
                <div class="navbar">
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="visible-phone-landscape">
                            <a href="#" id="search-toggle">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" title="Messages" id="messages" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-comments"></i>
                            </a>
                            <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                                <li role="presentation">
                                    <a href="#" class="message">
                                        <img src="./index_files/1.jpg" alt="">
                                        <div class="details">
                                            <div class="sender">Jane Hew</div>
                                            <div class="text">
                                                Hey, John! How is it going? ...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="message">
                                        <img src="./index_files/2.jpg" alt="">
                                        <div class="details">
                                            <div class="sender">Alies Rumiancaŭ</div>
                                            <div class="text">
                                                I'll definitely buy this template
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="message">
                                        <img src="./index_files/3.jpg" alt="">
                                        <div class="details">
                                            <div class="sender">Michał Rumiancaŭ</div>
                                            <div class="text">
                                                Is it really Lore ipsum? Lore ...
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="text-align-center see-all">
                                        See all messages <i class="fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" title="8 support tickets" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-group"></i>
                                <span class="count">8</span>
                            </a>
                            <ul id="support-menu" class="dropdown-menu support" role="menu">
                                <li role="presentation">
                                    <a href="#" class="support-ticket">
                                        <div class="picture">
                                            <span class="label label-important"><i class="fa fa-bell-o"></i></span>
                                        </div>
                                        <div class="details">
                                            Check out this awesome ticket
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="support-ticket">
                                        <div class="picture">
                                            <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
                                        </div>
                                        <div class="details">
                                            "What is the best way to get ...
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="support-ticket">
                                        <div class="picture">
                                            <span class="label label-success"><i class="fa fa-tag"></i></span>
                                        </div>
                                        <div class="details">
                                            This is just a simple notification
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="support-ticket">
                                        <div class="picture">
                                            <span class="label label-info"><i class="fa fa-info-circle"></i></span>
                                        </div>
                                        <div class="details">
                                            12 new orders has arrived today
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="support-ticket">
                                        <div class="picture">
                                            <span class="label label-important"><i class="fa fa-plus"></i></span>
                                        </div>
                                        <div class="details">
                                            One more thing that just happened
                                        </div>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="text-align-center see-all">
                                        See all tickets <i class="fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li class="hidden-xs">
                            <a href="#" id="settings" title="" data-toggle="popover" data-placement="bottom" data-original-title="Settings">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                        <li class="hidden-xs dropdown">
                            <a href="#" title="Account" id="account" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                            </a>
                            <ul id="account-menu" class="dropdown-menu account" role="menu">
                                <li role="presentation" class="account-picture">
                                    <img src="./index_files/2.jpg" alt="">
                                    Philip Daineka
                                </li>
                                <li role="presentation">
                                    <a href="#" class="link">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="link">
                                        <i class="fa fa-calendar"></i>
                                        Calendar
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="link">
                                        <i class="fa fa-inbox"></i>
                                        Inbox
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="visible-xs">
                            <a href="#" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title="">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                        <li class="hidden-xs"><a href="/main/logout"><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                    <form id="search-form" class="navbar-form pull-right" role="search">
                        <input type="search" class="form-control search-query" placeholder="Search...">
                    </form>
                    <div class="notifications pull-right">
                        <div class="alert pull-right">
                            <a href="#" class="close ml-xs" data-dismiss="alert">×</a>
                            <i class="fa fa-info-circle mr-xs"></i> Check out Light Blue <a id="notification-link" href="#">settings</a> on the right!
                        </div>
                    </div>
                </div>
            </header>        <div class="content container">
                <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
                <div class="row">
                    <div class="col-lg-8">
                        <section class="widget">
                            <header>
                                <h4>
                                    Visits
                                    <small>
                                        Based on a three months data
                                    </small>
                                </h4>
                                <div class="widget-controls">
                                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </header>
                            <div class="body no-margin">
                                <div id="visits-chart" class="chart visits-chart">
                                    <svg><g class="nvd3 nv-wrap nv-lineChart" transform="translate(25,28)"><g><rect width="1017" height="175" style="opacity: 0;"></rect><g class="nv-x nv-axis" transform="translate(0,147)"><g class="nvd3 nv-wrap nv-axis"><g><g class="tick" transform="translate(30.440577857399425,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Oct 11</text></g><g class="tick" transform="translate(131.9132790068247,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Oct 17</text></g><g class="tick" transform="translate(233.38598015624999,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Oct 22</text></g><g class="tick" transform="translate(334.8586813056753,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Oct 28</text></g><g class="tick" transform="translate(436.33138245510054,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Nov 03</text></g><g class="tick" transform="translate(537.8040836045258,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Nov 09</text></g><g class="tick" transform="translate(639.2767847539512,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Nov 14</text></g><g class="tick" transform="translate(740.7494859033765,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Nov 20</text></g><g class="tick" transform="translate(842.2221870528017,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Nov 26</text></g><g class="tick" transform="translate(943.6948882022269,0)" style="opacity: 1;"><line y2="-147" x2="0"></line><text y="7" dy=".71em" x="0" style="text-anchor: middle;">Dec 02</text></g><path class="domain" d="M0,0V0H1017V0"></path><text class="nv-axislabel" text-anchor="middle" y="36" x="508.5"></text></g></g></g><g class="nv-y nv-axis"><g class="nvd3 nv-wrap nv-axis"><g><g class="tick" transform="translate(0,120.82191780821918)" style="opacity: 1;"><line x2="1017" y2="0"></line><text x="-3" dy=".32em" y="0" style="text-anchor: end;">50</text></g><g class="tick" transform="translate(0,87.26027397260275)" style="opacity: 1;"><line x2="1017" y2="0"></line><text x="-3" dy=".32em" y="0" style="text-anchor: end;">100</text></g><g class="tick" transform="translate(0,53.698630136986296)" style="opacity: 1;"><line x2="1017" y2="0"></line><text x="-3" dy=".32em" y="0" style="text-anchor: end;">150</text></g><g class="tick" transform="translate(0,20.136986301369873)" style="opacity: 1;"><line x2="1017" y2="0"></line><text x="-3" dy=".32em" y="0" style="text-anchor: end;">200</text></g><path class="domain" d="M0,0H0V147H0"></path><text class="nv-axislabel" transform="rotate(-90)" y="-63" x="-73.5" style="text-anchor: middle;"></text></g></g></g><g class="nv-linesWrap"><g class="nvd3 nv-wrap nv-line" transform="translate(0,0)"><defs><clippath id="nv-edge-clip-15873"><rect width="1017" height="147"></rect></clippath></defs><g clip-path=""><g class="nv-groups"><g class="nv-group nv-series-0" style="stroke-opacity: 1; fill-opacity: 0.5; fill: rgb(234, 200, 94); stroke: rgb(234, 200, 94);"><path class="nv-area" d="M0,147L35.06896551724138,147L70.13793103448276,147L105.20689655172414,147L140.27586206896552,147L175.3448275862069,147L210.41379310344828,147L245.48275862068965,147L280.55172413793105,147L315.62068965517244,147L350.6896551724138,147L385.7586206896552,147L420.82758620689657,147L455.89655172413796,147L490.9655172413793,147L526.0344827586207,147L561.1034482758621,147L596.1724137931034,147L631.2413793103449,147L666.3103448275862,147L701.3793103448276,147L736.448275862069,147L771.5172413793103,147L806.5862068965517,147L841.6551724137931,147L876.7241379310344,147L911.7931034482759,147L946.8620689655172,147L981.9310344827586,147L1017,147L1017,139.6164383561644L981.9310344827586,141.63013698630138L946.8620689655172,144.986301369863L911.7931034482759,141.63013698630138L876.7241379310344,146.32876712328766L841.6551724137931,146.32876712328766L806.5862068965517,144.31506849315068L771.5172413793103,129.54794520547946L736.448275862069,108.73972602739727L701.3793103448276,73.83561643835617L666.3103448275862,42.95890410958904L631.2413793103449,34.9041095890411L596.1724137931034,58.397260273972606L561.1034482758621,98.67123287671234L526.0344827586207,124.84931506849315L490.9655172413793,135.58904109589042L455.89655172413796,140.2876712328767L420.82758620689657,140.95890410958904L385.7586206896552,138.94520547945206L350.6896551724138,130.8904109589041L315.62068965517244,124.17808219178082L280.55172413793105,99.34246575342466L245.48275862068965,83.9041095890411L210.41379310344828,70.47945205479452L175.3448275862069,74.5068493150685L140.27586206896552,89.27397260273973L105.20689655172414,108.73972602739727L70.13793103448276,128.87671232876713L35.06896551724138,140.2876712328767L0,140.2876712328767Z"></path><path class="nv-line" d="M0,140.2876712328767L35.06896551724138,140.2876712328767L70.13793103448276,128.87671232876713L105.20689655172414,108.73972602739727L140.27586206896552,89.27397260273973L175.3448275862069,74.5068493150685L210.41379310344828,70.47945205479452L245.48275862068965,83.9041095890411L280.55172413793105,99.34246575342466L315.62068965517244,124.17808219178082L350.6896551724138,130.8904109589041L385.7586206896552,138.94520547945206L420.82758620689657,140.95890410958904L455.89655172413796,140.2876712328767L490.9655172413793,135.58904109589042L526.0344827586207,124.84931506849315L561.1034482758621,98.67123287671234L596.1724137931034,58.397260273972606L631.2413793103449,34.9041095890411L666.3103448275862,42.95890410958904L701.3793103448276,73.83561643835617L736.448275862069,108.73972602739727L771.5172413793103,129.54794520547946L806.5862068965517,144.31506849315068L841.6551724137931,146.32876712328766L876.7241379310344,146.32876712328766L911.7931034482759,141.63013698630138L946.8620689655172,144.986301369863L981.9310344827586,141.63013698630138L1017,139.6164383561644"></path></g><g class="nv-group nv-series-1" style="stroke-opacity: 1; fill-opacity: 0.5; fill: rgb(207, 109, 81); stroke: rgb(207, 109, 81);"><path class="nv-line" d="M0,45.64383561643835L35.06896551724138,102.02739726027397L70.13793103448276,130.8904109589041L105.20689655172414,142.3013698630137L140.27586206896552,141.63013698630138L175.3448275862069,142.97260273972603L210.41379310344828,133.57534246575344L245.48275862068965,79.2054794520548L280.55172413793105,32.219178082191775L315.62068965517244,93.97260273972603L350.6896551724138,132.23287671232876L385.7586206896552,99.34246575342466L420.82758620689657,63.095890410958916L455.89655172413796,132.23287671232876L490.9655172413793,141.63013698630138L526.0344827586207,144.986301369863L561.1034482758621,142.3013698630137L596.1724137931034,145.65753424657535L631.2413793103449,147L666.3103448275862,146.32876712328766L701.3793103448276,144.986301369863L736.448275862069,147L771.5172413793103,147L806.5862068965517,146.32876712328766L841.6551724137931,141.63013698630138L876.7241379310344,144.986301369863L911.7931034482759,136.93150684931507L946.8620689655172,109.41095890410959L981.9310344827586,53.02739726027397L1017,0"></path></g></g><g class="nv-scatterWrap" clip-path=""><g class="nvd3 nv-wrap nv-scatter nv-chart-15873" transform="translate(0,0)"><defs><clippath id="nv-edge-clip-15873"><rect width="1017" height="147"></rect></clippath></defs><g clip-path=""><g class="nv-groups"><g class="nv-group nv-series-0" style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(234, 200, 94); fill: rgb(234, 200, 94);"><circle cx="0" cy="140.2876712328767" r="2.256758334191025" class="nv-point nv-point-0"></circle><circle cx="35.06896551724138" cy="140.2876712328767" r="2.256758334191025" class="nv-point nv-point-1"></circle><circle cx="70.13793103448276" cy="128.87671232876713" r="2.256758334191025" class="nv-point nv-point-2"></circle><circle cx="105.20689655172414" cy="108.73972602739727" r="2.256758334191025" class="nv-point nv-point-3"></circle><circle cx="140.27586206896552" cy="89.27397260273973" r="2.256758334191025" class="nv-point nv-point-4"></circle><circle cx="175.3448275862069" cy="74.5068493150685" r="2.256758334191025" class="nv-point nv-point-5"></circle><circle cx="210.41379310344828" cy="70.47945205479452" r="2.256758334191025" class="nv-point nv-point-6"></circle><circle cx="245.48275862068965" cy="83.9041095890411" r="2.256758334191025" class="nv-point nv-point-7"></circle><circle cx="280.55172413793105" cy="99.34246575342466" r="2.256758334191025" class="nv-point nv-point-8"></circle><circle cx="315.62068965517244" cy="124.17808219178082" r="2.256758334191025" class="nv-point nv-point-9"></circle><circle cx="350.6896551724138" cy="130.8904109589041" r="2.256758334191025" class="nv-point nv-point-10"></circle><circle cx="385.7586206896552" cy="138.94520547945206" r="2.256758334191025" class="nv-point nv-point-11"></circle><circle cx="420.82758620689657" cy="140.95890410958904" r="2.256758334191025" class="nv-point nv-point-12"></circle><circle cx="455.89655172413796" cy="140.2876712328767" r="2.256758334191025" class="nv-point nv-point-13"></circle><circle cx="490.9655172413793" cy="135.58904109589042" r="2.256758334191025" class="nv-point nv-point-14"></circle><circle cx="526.0344827586207" cy="124.84931506849315" r="2.256758334191025" class="nv-point nv-point-15"></circle><circle cx="561.1034482758621" cy="98.67123287671234" r="2.256758334191025" class="nv-point nv-point-16"></circle><circle cx="596.1724137931034" cy="58.397260273972606" r="2.256758334191025" class="nv-point nv-point-17"></circle><circle cx="631.2413793103449" cy="34.9041095890411" r="2.256758334191025" class="nv-point nv-point-18"></circle><circle cx="666.3103448275862" cy="42.95890410958904" r="2.256758334191025" class="nv-point nv-point-19"></circle><circle cx="701.3793103448276" cy="73.83561643835617" r="2.256758334191025" class="nv-point nv-point-20"></circle><circle cx="736.448275862069" cy="108.73972602739727" r="2.256758334191025" class="nv-point nv-point-21"></circle><circle cx="771.5172413793103" cy="129.54794520547946" r="2.256758334191025" class="nv-point nv-point-22"></circle><circle cx="806.5862068965517" cy="144.31506849315068" r="2.256758334191025" class="nv-point nv-point-23"></circle><circle cx="841.6551724137931" cy="146.32876712328766" r="2.256758334191025" class="nv-point nv-point-24"></circle><circle cx="876.7241379310344" cy="146.32876712328766" r="2.256758334191025" class="nv-point nv-point-25"></circle><circle cx="911.7931034482759" cy="141.63013698630138" r="2.256758334191025" class="nv-point nv-point-26"></circle><circle cx="946.8620689655172" cy="144.986301369863" r="2.256758334191025" class="nv-point nv-point-27"></circle><circle cx="981.9310344827586" cy="141.63013698630138" r="2.256758334191025" class="nv-point nv-point-28"></circle><circle cx="1017" cy="139.6164383561644" r="2.256758334191025" class="nv-point nv-point-29"></circle></g><g class="nv-group nv-series-1" style="stroke-opacity: 1; fill-opacity: 0.5; stroke: rgb(207, 109, 81); fill: rgb(207, 109, 81);"><circle cx="0" cy="45.64383561643835" r="2.256758334191025" class="nv-point nv-point-0"></circle><circle cx="35.06896551724138" cy="102.02739726027397" r="2.256758334191025" class="nv-point nv-point-1"></circle><circle cx="70.13793103448276" cy="130.8904109589041" r="2.256758334191025" class="nv-point nv-point-2"></circle><circle cx="105.20689655172414" cy="142.3013698630137" r="2.256758334191025" class="nv-point nv-point-3"></circle><circle cx="140.27586206896552" cy="141.63013698630138" r="2.256758334191025" class="nv-point nv-point-4"></circle><circle cx="175.3448275862069" cy="142.97260273972603" r="2.256758334191025" class="nv-point nv-point-5"></circle><circle cx="210.41379310344828" cy="133.57534246575344" r="2.256758334191025" class="nv-point nv-point-6"></circle><circle cx="245.48275862068965" cy="79.2054794520548" r="2.256758334191025" class="nv-point nv-point-7"></circle><circle cx="280.55172413793105" cy="32.219178082191775" r="2.256758334191025" class="nv-point nv-point-8"></circle><circle cx="315.62068965517244" cy="93.97260273972603" r="2.256758334191025" class="nv-point nv-point-9"></circle><circle cx="350.6896551724138" cy="132.23287671232876" r="2.256758334191025" class="nv-point nv-point-10"></circle><circle cx="385.7586206896552" cy="99.34246575342466" r="2.256758334191025" class="nv-point nv-point-11"></circle><circle cx="420.82758620689657" cy="63.095890410958916" r="2.256758334191025" class="nv-point nv-point-12"></circle><circle cx="455.89655172413796" cy="132.23287671232876" r="2.256758334191025" class="nv-point nv-point-13"></circle><circle cx="490.9655172413793" cy="141.63013698630138" r="2.256758334191025" class="nv-point nv-point-14"></circle><circle cx="526.0344827586207" cy="144.986301369863" r="2.256758334191025" class="nv-point nv-point-15"></circle><circle cx="561.1034482758621" cy="142.3013698630137" r="2.256758334191025" class="nv-point nv-point-16"></circle><circle cx="596.1724137931034" cy="145.65753424657535" r="2.256758334191025" class="nv-point nv-point-17"></circle><circle cx="631.2413793103449" cy="147" r="2.256758334191025" class="nv-point nv-point-18"></circle><circle cx="666.3103448275862" cy="146.32876712328766" r="2.256758334191025" class="nv-point nv-point-19"></circle><circle cx="701.3793103448276" cy="144.986301369863" r="2.256758334191025" class="nv-point nv-point-20"></circle><circle cx="736.448275862069" cy="147" r="2.256758334191025" class="nv-point nv-point-21"></circle><circle cx="771.5172413793103" cy="147" r="2.256758334191025" class="nv-point nv-point-22"></circle><circle cx="806.5862068965517" cy="146.32876712328766" r="2.256758334191025" class="nv-point nv-point-23"></circle><circle cx="841.6551724137931" cy="141.63013698630138" r="2.256758334191025" class="nv-point nv-point-24"></circle><circle cx="876.7241379310344" cy="144.986301369863" r="2.256758334191025" class="nv-point nv-point-25"></circle><circle cx="911.7931034482759" cy="136.93150684931507" r="2.256758334191025" class="nv-point nv-point-26"></circle><circle cx="946.8620689655172" cy="109.41095890410959" r="2.256758334191025" class="nv-point nv-point-27"></circle><circle cx="981.9310344827586" cy="53.02739726027397" r="2.256758334191025" class="nv-point nv-point-28"></circle><circle cx="1017" cy="0" r="2.256758334191025" class="nv-point nv-point-29"></circle></g></g><g class="nv-point-paths"></g></g></g></g></g></g></g><g class="nv-legendWrap" transform="translate(0,-28)"><g class="nvd3 nv-legend" transform="translate(0,3)"><g transform="translate(889,3)"><g class="nv-series" transform="translate(0,5)"><circle class="nv-legend-symbol" r="5" style="stroke-width: 2px; fill: rgb(234, 200, 94); stroke: rgb(234, 200, 94);"></circle><text text-anchor="start" class="nv-legend-text" dy=".32em" dx="8">Unique</text></g><g class="nv-series" transform="translate(64,5)"><circle class="nv-legend-symbol" r="5" style="stroke-width: 2px; fill: rgb(207, 109, 81); stroke: rgb(207, 109, 81);"></circle><text text-anchor="start" class="nv-legend-text" dy=".32em" dx="8">Visits</text></g></g></g></g><g class="nv-interactive"><g class=" nv-wrap nv-interactiveLineLayer"><g class="nv-interactiveGuideLine"></g></g></g></g></g></svg>
                                </div>
                                <div class="visits-info well well-sm">
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
                                            <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
                                            <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
                                            <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="key"><i class="fa fa-user"></i> Total Sales</div>
                                            <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="widget">
                            <header>
                                <h4>
                                    Traffic Sources
                                    <small>
                                        One month tracking
                                    </small>
                                </h4>
                                <div class="widget-controls">
                                    <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </header>
                            <div class="body">
                                <table class="table table-striped no-margin sources-table">
                                    <thead>
                                        <tr>
                                            <th class="source-col-header">Source</th>
                                            <th>Amount</th>
                                            <th>Change</th>
                                            <th class="hidden-xs">Percent.,%</th>
                                            <th>Target</th>
                                            <th class="chart-col-header hidden-xs">Trend</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><span class="label label-important">Direct</span></td>
                                            <td>713</td>
                                            <td><strong class="color-green">+53</strong></td>
                                            <td class="hidden-xs">+12</td>
                                            <td>900</td>
                                            <td class="chart-cell hidden-xs">
                                                <div id="direct-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-warning">Refer</span></td>
                                            <td>562</td>
                                            <td><strong>+84</strong></td>
                                            <td class="hidden-xs">+64</td>
                                            <td>500</td>
                                            <td class="chart-cell hidden-xs">
                                                <div id="refer-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-success">Social</span></td>
                                            <td>148</td>
                                            <td><strong class="color-red">-12</strong></td>
                                            <td class="hidden-xs">+3</td>
                                            <td>180</td>
                                            <td class="chart-cell hidden-xs">
                                                <div id="social-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-info">Search</span></td>
                                            <td>653</td>
                                            <td><strong class="color-green">+23</strong></td>
                                            <td class="hidden-xs">+43</td>
                                            <td>876</td>
                                            <td class="chart-cell hidden-xs">
                                                <div id="search-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="label label-inverse">Internal</span></td>
                                            <td>976</td>
                                            <td><strong>+101</strong></td>
                                            <td class="hidden-xs">-7</td>
                                            <td>844</td>
                                            <td class="chart-cell hidden-xs">
                                                <div id="internal-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section class="widget large">
                            <header>
                                <h4>
                                    Chat
                                </h4>
                                <div class="widget-controls">
                                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                                </div>
                            </header>
                            <div class="body">
                                <div id="chat" class="chat">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 240px;"><div id="chat-messages" class="chat-messages" style="overflow: hidden; width: auto; height: 240px;">
                                            <div class="chat-message">
                                                <div class="sender pull-left">
                                                    <div class="icon">
                                                        <img src="./index_files/2.jpg" class="img-circle" alt="">
                                                    </div>
                                                    <div class="time">
                                                        4 min
                                                    </div>
                                                </div>
                                                <div class="chat-message-body">
                                                    <span class="arrow"></span>
                                                    <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                                    <div class="text">
                                                        Hey Sam, how is it going? But I must explain to you how all this mistaken
                                                        idea of denouncing of a pleasure and praising pain was born
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <div class="sender pull-right">
                                                    <div class="icon">
                                                        <img src="./index_files/1.jpg" class="img-circle" alt="">
                                                    </div>
                                                    <div class="time">
                                                        3 min
                                                    </div>
                                                </div>
                                                <div class="chat-message-body on-left">
                                                    <span class="arrow"></span>
                                                    <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                                    <div class="text">
                                                        Pretty good. Doing my homework..  No one rejects, dislikes, or avoids
                                                        pleasure itself, because it is pleasure, but because
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <div class="sender pull-left">
                                                    <div class="icon">
                                                        <img src="./index_files/2.jpg" class="img-circle" alt="">
                                                    </div>
                                                    <div class="time">
                                                        2 min
                                                    </div>
                                                </div>
                                                <div class="chat-message-body">
                                                    <span class="arrow"></span>
                                                    <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                                    <div class="text">
                                                        Any chance to go out? To take a trivial example, which of us ever undertakes
                                                        laborious physical exercise, except to obtain some advantage
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <div class="sender pull-right">
                                                    <div class="icon">
                                                        <img src="./index_files/1.jpg" class="img-circle" alt="">
                                                    </div>
                                                    <div class="time">
                                                        2 min
                                                    </div>
                                                </div>
                                                <div class="chat-message-body on-left">
                                                    <span class="arrow"></span>
                                                    <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                                    <div class="text">
                                                        .. Maybe 40-50 mins. I don't know exactly. On the other hand, we denounce
                                                        with righteous indignation and dislike men who are so beguiled
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <div class="sender pull-left">
                                                    <div class="icon">
                                                        <img src="./index_files/2.jpg" class="img-circle" alt="">
                                                    </div>
                                                    <div class="time">
                                                        1 min
                                                    </div>
                                                </div>
                                                <div class="chat-message-body">
                                                    <span class="arrow"></span>
                                                    <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                                    <div class="text">
                                                        Anyway sounds great! These cases are perfectly simple and easy to
                                                        distinguish.
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slimScrollBar" style="width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 145.822784810127px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                                    <footer class="chat-footer row">
                                        <div class="col-xs-9">
                                            <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4">
                        <section class="widget large">
                            <header>
                                <h4>
                                    Feed
                                    <span class="label label-success">412</span>
                                </h4>
                                <div class="actions">
                                    <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                                </div>
                            </header>
                            <div class="body">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 280px;"><div id="feed" class="feed" style="overflow: hidden; width: auto; height: 280px;">
                                        <div class="wrapper">
                                            <div class="vertical-line"></div>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <i class="fa fa-comment"></i>
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                                                    </div>
                                                    <div class="time pull-left">
                                                        3 h
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <i class="fa fa-check color-green"></i>
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                                                    </div>
                                                    <div class="time pull-left">
                                                        10 h
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <img src="./index_files/14.jpg" class="img-circle" alt="">
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        New user <a href="#">Greg Wilson</a> registered.
                                                    </div>
                                                    <div class="time pull-left">
                                                        Today
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <i class="fa fa-bolt color-orange"></i>
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        Server fail level raises above normal. <a href="#">See logs</a> for details.
                                                    </div>
                                                    <div class="time pull-left">
                                                        Yesterday
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <i class="fa fa-database"></i>
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        <a href="#">Database usage report</a> is ready.
                                                    </div>
                                                    <div class="time pull-left">
                                                        Yesterday
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        <a href="#">Order #233985</a> needs additional processing.
                                                    </div>
                                                    <div class="time pull-left">
                                                        Wednesday
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="feed-item">
                                                <div class="icon pull-left">
                                                    <i class="fa fa-arrow-down"></i>
                                                </div>
                                                <div class="feed-item-body">
                                                    <div class="text">
                                                        <a href="#">Load more...</a>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div><div class="slimScrollBar" style="width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 243.478260869565px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                            </div>
                        </section>
                        <section class="widget widget-tabs">
                            <header>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#" data-toggle="tab">Users</a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tab">Favorites</a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tab">Commenters</a>
                                    </li>
                                </ul>
                            </header>
                            <div class="body tab-content">
                                <div id="stats" class="tab-pane active clearfix">
                                    <h5 class="tab-header"><span class="label label-primary"><i class="fa fa-facebook"></i></span> Last logged-in users</h5>
                                    <ul class="news-list">
                                        <li>
                                            <img src="./index_files/1.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Finees Lund</a></div>
                                                <div class="position">Product Designer</div>
                                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/3.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Erebus Novak</a></div>
                                                <div class="position">Software Engineer</div>
                                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/2.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Leopoldo Reier</a></div>
                                                <div class="position">Chief Officer</div>
                                                <div class="time">Last logged-in: Jun 6, 15:34</div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/13.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Frans Garey</a></div>
                                                <div class="position">Financial Assistant</div>
                                                <div class="time">Last logged-in: Jun 8, 17:20</div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/14.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                                <div class="position">Sales Manager</div>
                                                <div class="time">Last logged-in: Jun 8, 9:13</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="report" class="tab-pane">
                                    <h5 class="tab-header"><i class="fa fa-star"></i> Popular contacts</h5>
                                    <ul class="news-list news-list-no-hover">
                                        <li>
                                            <img src="./index_files/14.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                                <div class="options">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="fa fa-phone"></i>
                                                        Call
                                                    </button>
                                                    <button class="btn btn-xs btn-warning">
                                                        <i class="fa fa-envelope-o"></i>
                                                        Message
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/13.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Frans Garey</a></div>
                                                <div class="options">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="fa fa-phone"></i>
                                                        Call
                                                    </button>
                                                    <button class="btn btn-xs btn-warning">
                                                        <i class="fa fa-envelope-o"></i>
                                                        Message
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/3.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Erebus Novak</a></div>
                                                <div class="options">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="fa fa-phone"></i>
                                                        Call
                                                    </button>
                                                    <button class="btn btn-xs btn-warning">
                                                        <i class="fa fa-envelope-o"></i>
                                                        Message
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/2.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Leopoldo Reier</a></div>
                                                <div class="options">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="fa fa-phone"></i>
                                                        Call
                                                    </button>
                                                    <button class="btn btn-xs btn-warning">
                                                        <i class="fa fa-envelope-o"></i>
                                                        Message
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/1.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Finees Lund</a></div>
                                                <div class="options">
                                                    <button class="btn btn-xs btn-success">
                                                        <i class="fa fa-phone"></i>
                                                        Call
                                                    </button>
                                                    <button class="btn btn-xs btn-warning">
                                                        <i class="fa fa-envelope-o"></i>
                                                        Message
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="dropdown1" class="tab-pane">
                                    <h5 class="tab-header"><i class="fa fa-comments"></i> Top Commenters</h5>
                                    <ul class="news-list">
                                        <li>
                                            <img src="./index_files/13.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Frans Garey</a></div>
                                                <div class="comment">
                                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                                    sed quia
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/1.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Finees Lund</a></div>
                                                <div class="comment">
                                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                    eu fugiat.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/14.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                                <div class="comment">
                                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                                    deserunt.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/3.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Erebus Novak</a></div>
                                                <div class="comment">
                                                    Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                                    doloremque.
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./index_files/2.jpg" alt="" class="pull-left img-circle">
                                            <div class="news-item-info">
                                                <div class="name"><a href="#">Leopoldo Reier</a></div>
                                                <div class="comment">
                                                    Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
                                                    et quasi.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section class="widget">
                            <header>
                                <h4>
                                    Server Overview
                                </h4>
                                <div class="actions">
                                    <small class="text-muted pull-right">2 days ago</small>
                                </div>
                            </header>
                            <div class="body">
                                <ul class="server-stats">
                                    <li>
                                        <div class="key pull-right">CPU</div>
                                        <div class="stat">
                                            <div class="info">60% / 37°C / 3.3 Ghz</div>
                                            <div class="progress progress-small">
                                                <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="key pull-right">Mem</div>
                                        <div class="stat">
                                            <div class="info">29% / 4GB (16 GB)</div>
                                            <div class="progress progress-small">
                                                <div class="progress-bar" style="width: 29%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="key pull-right">LAN</div>
                                        <div class="stat">
                                            <div class="info">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
                                            <div class="progress progress-small">
                                                <div class="progress-bar progress-bar-inverse" style="width: 48%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="loader-wrap hiding hide">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>
        <!-- common libraries. required for every page-->
        <script src="/web/js/jquery.min.js"></script>
        <script src="/web/js/jquery.pjax.js"></script>
        <script src="/web/js/bootstrap.js"></script>
        <script src="/web/js/widgster.js"></script>
        <script src="/web/js/underscore.js"></script>

        <!-- common application js -->
        <script src="/web/js/app.js"></script>
        <script src="/web/js/settings.js"></script>
{% endblock %}
